---
---

@import "{{ site.theme }}";

.page-header {
  background-image: url('/Assessment-2/assets/GameScreenshot.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
